<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> <%= title %> </h1>
    <p> <%= display %> </p>
    <% values.forEach(function (value){ %>

      <p>
        Title : <%= value.title %> ; Page : <%= value.page %> ; Price : <%= value.price%> by Author of ID = <%= value.author_id %>
        
      </p>

    
    <% }); %>
    